POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_postgres_db
POSTGRES_PORT=5432

# Liquibase configuration
LB_CHANGELOG=src/main/resources/db/changelog/db.changelog-master.yaml
LB_OUTPUT_CHANGELOG=target/generated-changelog.yaml
LB_DRIVER=org.postgresql.Driver
LB_SCHEMA=public
