POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_postgres_db
POSTGRES_PORT=5432

# Spring Security
APP_SECURITY_USER=your_api_username
APP_SECURITY_PASSWORD=your_api_password

# Liquibase configuration
LB_CHANGELOG=your_changelog_file.yaml
LB_OUTPUT_CHANGELOG=your_output_changelog.yaml
LB_DRIVER=your_jdbc_driver_class
LB_SCHEMA=your_database_schema

#H2 configuration
H2_URL=your_h2_url
H2_USERNAME=your_h2_username
H2_PASSWORD=your_h2_password
