POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_postgres_db
POSTGRES_PORT=5432

# Liquibase configuration
LB_CHANGELOG=your_changelog_file.yaml
LB_OUTPUT_CHANGELOG=your_output_changelog.yaml
LB_DRIVER=your_jdbc_driver_class
LB_SCHEMA=your_database_schema
